# Dependencies
node_modules
**/node_modules

# Environment
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Build
**/build
**/dist
**/.next
**/.nuxt

# Testing
**/coverage

# Misc
.git
.gitignore
README.md
*.md 